<div class="breadcrumb-container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item home-item">
        <a [routerLink]="homePath">
          <i class="fas fa-home"></i>
        </a>
      </li>
      
      <li *ngFor="let item of items; let last = last" 
          class="breadcrumb-item" 
          [class.active]="last"
          [class.animated]="true">
        
        <div class="separator">
          <i class="fas fa-chevron-right"></i>
        </div>
        
        <a *ngIf="item.url && !last" [routerLink]="item.url" class="breadcrumb-link">
          <i *ngIf="item.icon" class="fas fa-{{ item.icon }}"></i>
          <span>{{ item.label }}</span>
        </a>
        
        <span *ngIf="!item.url || last" class="breadcrumb-text">
          <i *ngIf="item.icon" class="fas fa-{{ item.icon }}"></i>
          <span>{{ item.label }}</span>
        </span>
      </li>
    </ol>
  </div>